In [40]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import inspect
import pandas as pd
import requests
from geopy.distance import geodesic

In [41]:
# Connection DB
connectionDB = 'mysql+pymysql://ironhack_user:%Vq=c>G5@173.201.189.217/BiciMAD'
engineDB = create_engine(connectionDB)
inspector_db = inspect(engineDB)

In [42]:
# Tables DB
inspector_db.get_table_names()

['bicimad_stations', 'bicipark_stations']

In [43]:
query_1 = '''
SELECT *
FROM bicimad_stations

'''
df_1 = pd.read_sql_query(query_1, engineDB)
df_1

,id,name,light,number,address,activate,no_available,total_bases,dock_bikes,free_bases,reservations_count,geometry.type,geometry.coordinates
0,1,1a - Puerta del Sol A,3,1a,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.7018341, 40.4172137]"
1,2,1b - Puerta del Sol B,3,1b,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.701602938060457, 40.41731271011562]"
2,3,2 - Miguel Moya,3,2,Calle Miguel Moya nº 1,1,1,24,0,0,0,Point,"[-3.7058415, 40.4205886]"
3,4,3 - Plaza Conde Suchil,2,3,Plaza del Conde del Valle de Súchil nº 3,1,0,18,9,9,0,Point,"[-3.7069171, 40.4302937]"
4,5,4 - Malasaña,1,4,Calle Manuela Malasaña nº 5,1,0,24,23,1,0,Point,"[-3.7025875, 40.4285524]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,265,257 - INEF,0,257,Avenida Juan de Herrera frente a la calle Paul...,1,0,24,3,19,0,Point,"[-3.72997, 40.43896]"
260,266,258 - Ciudad Universitaria 1,2,258,Avenida de la Complutense (Metro Ciudad Univer...,1,0,24,9,14,0,Point,"[-3.72699, 40.44375]"
261,267,259 - Ciudad Universitaria 2,2,259,Avenida de la Complutense (Metro Ciudad Univer...,1,0,24,12,10,0,Point,"[-3.72693, 40.44342]"
262,268,260 - Facultad Biología,2,260,Calle José Antonio Novais frente al nº 12,1,0,24,12,10,0,Point,"[-3.7272945, 40.4483322]"
263,269,261 - Facultad Derecho,2,261,Avenida Complutense nº 23,1,0,24,8,16,0,Point,"[-3.72937, 40.45109]"

In [44]:
#base_url = https://datos.madrid.es/egob #base del endpoint v1:version 1
#parameneter = '/4F4pp8NUW08JuXwnoxglpN'
#related = '/related-artists'
#track = '/top-tracks'
#resource = '/artists'   # un parámetro
#header = {'Authorization': 'Bearer {token}'.format(token=access_token)}

In [45]:
colum = df_1['geometry.coordinates']

In [46]:
print(type(colum))

<class 'pandas.core.series.Series'>

In [47]:
df_1[["longitude","latitude"]]=df_1["geometry.coordinates"].str.split(",",expand=True)
df_1['longitude'] = df_1['longitude'].str.replace('[','',regex=True)
df_1["latitude"]=df_1['latitude'].str.replace(']','',regex=True)
df_1['latitude'] = pd.to_numeric(df_1['latitude'])
df_1['longitude'] = pd.to_numeric(df_1['longitude'])
df_1

,id,name,light,number,address,activate,no_available,total_bases,dock_bikes,free_bases,reservations_count,geometry.type,geometry.coordinates,longitude,latitude
0,1,1a - Puerta del Sol A,3,1a,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.7018341, 40.4172137]",-3.701834,40.417214
1,2,1b - Puerta del Sol B,3,1b,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.701602938060457, 40.41731271011562]",-3.701603,40.417313
2,3,2 - Miguel Moya,3,2,Calle Miguel Moya nº 1,1,1,24,0,0,0,Point,"[-3.7058415, 40.4205886]",-3.705842,40.420589
3,4,3 - Plaza Conde Suchil,2,3,Plaza del Conde del Valle de Súchil nº 3,1,0,18,9,9,0,Point,"[-3.7069171, 40.4302937]",-3.706917,40.430294
4,5,4 - Malasaña,1,4,Calle Manuela Malasaña nº 5,1,0,24,23,1,0,Point,"[-3.7025875, 40.4285524]",-3.702587,40.428552
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,265,257 - INEF,0,257,Avenida Juan de Herrera frente a la calle Paul...,1,0,24,3,19,0,Point,"[-3.72997, 40.43896]",-3.729970,40.438960
260,266,258 - Ciudad Universitaria 1,2,258,Avenida de la Complutense (Metro Ciudad Univer...,1,0,24,9,14,0,Point,"[-3.72699, 40.44375]",-3.726990,40.443750
261,267,259 - Ciudad Universitaria 2,2,259,Avenida de la Complutense (Metro Ciudad Univer...,1,0,24,12,10,0,Point,"[-3.72693, 40.44342]",-3.726930,40.443420
262,268,260 - Facultad Biología,2,260,Calle José Antonio Novais frente al nº 12,1,0,24,12,10,0,Point,"[-3.7272945, 40.4483322]",-3.727295,40.448332
263,269,261 - Facultad Derecho,2,261,Avenida Complutense nº 23,1,0,24,8,16,0,Point,"[-3.72937, 40.45109]",-3.729370,40.451090

In [ ]:
df_1['distance'] = pd.to_numeric(df_1['longitude'])
df_1

In [39]:
df_1[['geometry.coordinates']]

                        geometry.coordinates
0                   [-3.7018341, 40.4172137]
1    [-3.701602938060457, 40.41731271011562]
2                   [-3.7058415, 40.4205886]
3                   [-3.7069171, 40.4302937]
4                   [-3.7025875, 40.4285524]
..                                       ...
259                     [-3.72997, 40.43896]
260                     [-3.72699, 40.44375]
261                     [-3.72693, 40.44342]
262                 [-3.7272945, 40.4483322]
263                     [-3.72937, 40.45109]

[264 rows x 1 columns]

In [35]:
#response = requests.get('https://datos.madrid.es/egob/catalogo/200761-0-parques-jardines.json')
#json = response.json()
#json.keys()

In [36]:
#df_1_csv = pd.read_csv('/Users/FVILLALOBOS/Ironhack//Data/bicimad_stations_202207111929.csv')
#df_1_csv

In [37]:
query_2 = '''
SELECT * 
FROM bicipark_stations
'''
df_2 = pd.read_sql_query(query_1, engineDB)
df_2

,id,name,light,number,address,activate,no_available,total_bases,dock_bikes,free_bases,reservations_count,geometry.type,geometry.coordinates
0,1,1a - Puerta del Sol A,3,1a,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.7018341, 40.4172137]"
1,2,1b - Puerta del Sol B,3,1b,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.701602938060457, 40.41731271011562]"
2,3,2 - Miguel Moya,3,2,Calle Miguel Moya nº 1,1,1,24,0,0,0,Point,"[-3.7058415, 40.4205886]"
3,4,3 - Plaza Conde Suchil,2,3,Plaza del Conde del Valle de Súchil nº 3,1,0,18,9,9,0,Point,"[-3.7069171, 40.4302937]"
4,5,4 - Malasaña,1,4,Calle Manuela Malasaña nº 5,1,0,24,23,1,0,Point,"[-3.7025875, 40.4285524]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,265,257 - INEF,0,257,Avenida Juan de Herrera frente a la calle Paul...,1,0,24,3,19,0,Point,"[-3.72997, 40.43896]"
260,266,258 - Ciudad Universitaria 1,2,258,Avenida de la Complutense (Metro Ciudad Univer...,1,0,24,9,14,0,Point,"[-3.72699, 40.44375]"
261,267,259 - Ciudad Universitaria 2,2,259,Avenida de la Complutense (Metro Ciudad Univer...,1,0,24,12,10,0,Point,"[-3.72693, 40.44342]"
262,268,260 - Facultad Biología,2,260,Calle José Antonio Novais frente al nº 12,1,0,24,12,10,0,Point,"[-3.7272945, 40.4483322]"
263,269,261 - Facultad Derecho,2,261,Avenida Complutense nº 23,1,0,24,8,16,0,Point,"[-3.72937, 40.45109]"

In [38]:
df_2[["longitude","latitude"]]=df_2["geometry.coordinates"].str.split(",",expand=True)
df_2['longitude'] = df_2['longitude'].str.replace('[','',regex=True)
df_2["latitude"]=df_2['latitude'].str.replace(']','',regex=True)
df_2['latitude'] = pd.to_numeric(df_2['latitude'])
df_2['longitude'] = pd.to_numeric(df_2['longitude'])
df_2

,id,name,light,number,address,activate,no_available,total_bases,dock_bikes,free_bases,reservations_count,geometry.type,geometry.coordinates,longitude,latitude
0,1,1a - Puerta del Sol A,3,1a,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.7018341, 40.4172137]",-3.701834,40.417214
1,2,1b - Puerta del Sol B,3,1b,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.701602938060457, 40.41731271011562]",-3.701603,40.417313
2,3,2 - Miguel Moya,3,2,Calle Miguel Moya nº 1,1,1,24,0,0,0,Point,"[-3.7058415, 40.4205886]",-3.705842,40.420589
3,4,3 - Plaza Conde Suchil,2,3,Plaza del Conde del Valle de Súchil nº 3,1,0,18,9,9,0,Point,"[-3.7069171, 40.4302937]",-3.706917,40.430294
4,5,4 - Malasaña,1,4,Calle Manuela Malasaña nº 5,1,0,24,23,1,0,Point,"[-3.7025875, 40.4285524]",-3.702587,40.428552
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,265,257 - INEF,0,257,Avenida Juan de Herrera frente a la calle Paul...,1,0,24,3,19,0,Point,"[-3.72997, 40.43896]",-3.729970,40.438960
260,266,258 - Ciudad Universitaria 1,2,258,Avenida de la Complutense (Metro Ciudad Univer...,1,0,24,9,14,0,Point,"[-3.72699, 40.44375]",-3.726990,40.443750
261,267,259 - Ciudad Universitaria 2,2,259,Avenida de la Complutense (Metro Ciudad Univer...,1,0,24,12,10,0,Point,"[-3.72693, 40.44342]",-3.726930,40.443420
262,268,260 - Facultad Biología,2,260,Calle José Antonio Novais frente al nº 12,1,0,24,12,10,0,Point,"[-3.7272945, 40.4483322]",-3.727295,40.448332
263,269,261 - Facultad Derecho,2,261,Avenida Complutense nº 23,1,0,24,8,16,0,Point,"[-3.72937, 40.45109]",-3.729370,40.451090

In [10]:
#df_2_csv = pd.read_csv('/Users/FVILLALOBOS/Ironhack//Data/bicipark_stations_202207111930.csv')
#df_2_csv